<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Employees</title>
</head>
<body>
    <h1>Delivery Employees</h1>
    <table>
        <tr>
            <th>Name:</th>
            <th>Salary:</th>
            <th>Bank Account Number:</th>
            <th>National Insurance Number:</th>
        </tr>
        {% for deliveryEmployee in deliveryEmployees %}
        <tr>
            <td>{{ delivery.name }}</td>
            <td>{{ delivery.salary }}</td>
            <td>{{ delivery.bankAccountNo }}</td>
            <td>{{ delivery.NINO }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>